@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
html h1, body h1 {
  font-size: 45px;
  font-weight: 700;
}
html h2, body h2 {
  font-size: 22px;
  font-weight: 700;
}
html h3, body h3 {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 500;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-yellow {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  border-color: #f9d783;
  border-radius: 40px;
  color: #191919;
  text-decoration: none;
  padding: 12px 24px;
  font-weight: 600;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border-color: #191919;
  color: #f9d783;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  border-color: #191919;
  border-radius: 40px;
  color: #191919;
  text-decoration: none;
  padding: 14px 24px;
  font-weight: 600;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border-color: #191919;
  color: #f0efe9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  border-color: #191919;
  border-radius: 40px;
  color: #ffffff;
  text-decoration: none;
  padding: 14px 24px;
  font-weight: 400;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #f9d783;
  border-color: #f9d783;
  color: #191919;
}

header {
  background-color: #f0efe9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgba(25, 25, 25, 0.062745098);
  padding-bottom: 10px;
}
@media (min-width: 1400px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1400px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .contact-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid rgba(25, 25, 25, 0.062745098);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  font-style: normal;
  text-align: left;
  color: #191919;
}
header .container .menu .top-menu .contact-information .contact-box i {
  margin-right: 8px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .contact-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 18px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #444444;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #f0efe9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: start;
  }
}
.showcase .container .content h1 {
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
.showcase .container .content p {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
  padding: 18px 36px;
}
@media (min-width: 1200px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.sponsors {
  margin-top: 72px;
}
.sponsors .container {
  display: flex;
  justify-content: space-between;
}
.sponsors img {
  width: 224px;
  height: 88px;
}

.features {
  border: 1px solid rgba(25, 25, 25, 0.1254901961);
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 120px;
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.features .container {
  display: flex;
}
.features .container .info h1 {
  margin-top: 18px;
  margin-bottom: 60px;
  width: 80%;
}
.features .container a {
  font-weight: 400;
  width: 50;
}
.features .container .btn-yellow {
  padding: 19px 176px;
}
.features .container i {
  font-size: 14px;
}
.features .container .info-side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  margin-right: 100px;
}
.features .container .info-side .content-box i {
  font-size: 30px;
}
.features .container .info-side .content-box h2 {
  margin-top: 28px;
  margin-bottom: 19px;
}

.about-company {
  margin-bottom: 120px;
  display: flex;
  position: relative;
  z-index: 0;
}
.about-company .founder-box {
  width: 368px;
  height: 180px;
  background-color: #beebff;
  position: absolute;
  bottom: 40px;
  left: 300px;
  z-index: 1;
  padding: 33px 24px;
}
.about-company .founder-box .founder-info h2, .about-company .founder-box .founder-info h3 {
  display: inline;
}
.about-company .founder-box .founder-info p {
  margin-top: 20px;
  width: 100%;
}
.about-company .founder {
  margin-left: 200px;
  margin-right: 200px;
}
.about-company .founder img {
  width: 533px;
  height: 615px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 155px;
}
.about-company .about {
  margin-right: 220px;
}
.about-company .about h3 {
  margin-bottom: 18px;
}
.about-company .about h1 {
  margin-bottom: 37px;
  width: 90%;
}
.about-company .about p {
  line-height: 32px;
  margin-bottom: 35px;
  width: 82%;
}
.about-company .about .buttons {
  margin-top: 87px;
  display: flex;
  align-items: center;
}
.about-company .about .buttons .btn-black {
  padding: 16px 36px;
}
.about-company .about .buttons .video-btn-text {
  text-decoration: none;
  color: #191919;
  margin-left: 25px;
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.about-company .about .buttons .video-btn-text i {
  font-size: 40px;
  margin-right: 16px;
}
.about-company .about .buttons .video-btn-text span {
  font-size: 16px;
}
.about-company .about .buttons .video-btn-text:hover {
  color: #444444;
}

.our-services {
  background-color: #f0efe9;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  z-index: 0;
}
.our-services .background-lines {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.our-services .container h1 {
  margin-top: 18px;
  width: 40%;
}
.our-services .container .info-cards {
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}
.our-services .container .info-cards .cards {
  background-color: #FFFFFF;
  width: 308px;
  height: 333px;
  padding: 30px;
}
.our-services .container .info-cards .cards p {
  margin-top: 16px;
  margin-bottom: 40px;
  line-height: 28px;
}
.our-services .container .info-cards .cards .btn-arrow {
  background-color: #191919;
  color: #ffffff;
  font-size: 24px;
  border-radius: 50%;
  padding: 15px 23px;
  float: right;
}
.our-services .container .info-cards .cards .btn-arrow:hover {
  background-color: #f9d783;
  color: #191919;
}
.our-services .container .info-cards .cards:hover {
  background-color: #f9d783;
}
.our-services .container .info-cards .cards:hover .btn-arrow:hover {
  background-color: #ffffff;
  color: #191919;
}
.our-services .bottom {
  display: flex;
  justify-content: center;
}
.our-services .bottom .btn-transparent {
  padding: 16px 35px;
}
.our-services .bottom .btn-transparent i {
  margin-left: 15px;
  font-size: 16px;
}

.why-choose-us {
  margin-bottom: 120px;
  position: relative;
  z-index: 0;
}
.why-choose-us .background-box {
  width: 1057px;
  height: 425px;
  background-color: #f0efe9;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.why-choose-us .container {
  display: flex;
}
.why-choose-us .container .why {
  margin-top: 60px;
}
.why-choose-us .container .why h1 {
  margin-top: 18px;
  margin-bottom: 30px;
  width: 65%;
}
.why-choose-us .container .why .icon {
  display: flex;
  margin-top: 20px;
}
.why-choose-us .container .why .icon .text {
  margin-left: 24px;
  margin-top: 15px;
}
.why-choose-us .container .picture {
  margin-top: 90px;
}
.why-choose-us .container .picture img {
  width: 645px;
  height: 505px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-case {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}
.project-case .container h3, .project-case .container h1 {
  text-align: center;
}
.project-case .container h1 {
  margin-top: 18px;
  margin-bottom: 100px;
}
.project-case .container .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 50px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.project-case .container .grid .content-box {
  display: flex;
  flex-direction: column;
}
.project-case .container .grid .content-box img {
  max-width: 645px;
  max-height: 311px;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-case .container .grid .content-box h2 {
  margin-top: 35px;
  border-bottom: 2px solid rgba(25, 25, 25, 0.062745098);
  padding-bottom: 18px;
}
.project-case .container .grid .content-box a {
  text-decoration: none;
  color: #191919;
  align-self: flex-end;
  margin-right: 16px;
  margin-top: 35px;
}
.project-case .container .grid .content-box a i {
  margin-left: 10px;
  font-size: 14px;
}
.project-case .container .grid .content-box a:hover {
  color: #444444;
}
.project-case .btn-black {
  margin-top: 70px;
  padding: 16px 36px;
  align-self: center;
}

.meet-team {
  background-color: #f9d783;
  padding-top: 120px;
  padding-bottom: 90px;
}
.meet-team .container .browse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.meet-team .container .browse h1 {
  margin-top: 18px;
}
.meet-team .container .browse .btn-transparent {
  padding: 14px 40px;
}
.meet-team .container .browse .btn-transparent:hover {
  color: #f9d783;
}
.meet-team .container .team {
  display: flex;
  justify-content: space-between;
}
.meet-team .container .team .members {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.meet-team .container .team .members img {
  width: 308px;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}
.meet-team .container .team .members h2 {
  margin-top: 28px;
  margin-bottom: 12px;
}
.meet-team .container .dots {
  display: flex;
  justify-content: center;
}
.meet-team .container .dots a {
  color: rgba(25, 25, 25, 0.1254901961);
  margin: 10px;
}
.meet-team .container .dots a i {
  font-size: 12px;
}
.meet-team .container .dots a:hover {
  color: #191919;
}
.meet-team .container .dots .active {
  color: #191919;
}

.testimonial {
  background-color: #f9d783;
  padding-bottom: 120px;
}
.testimonial .white-box {
  background-color: #ffffff;
  margin: 0px 200px;
}
.testimonial .container {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
}
.testimonial .container h3, .testimonial .container h1 {
  text-align: center;
}
.testimonial .container h1 {
  margin-top: 18px;
}
.testimonial .container .reviews {
  display: flex;
  justify-content: space-around;
  gap: 110px;
  margin: 0px 30px;
}
.testimonial .container .reviews .client {
  margin-top: 90px;
}
.testimonial .container .reviews .client i {
  color: #F94D1C;
  font-size: 14px;
  margin-bottom: 26px;
}
.testimonial .container .reviews .client p {
  line-height: 34px;
}
.testimonial .container .reviews .client .parent {
  display: flex;
  margin-top: 36px;
}
.testimonial .container .reviews .client .parent img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.testimonial .container .reviews .client .child {
  margin-left: 16px;
  margin-top: 10px;
}
.testimonial .container .reviews .client .child h4 {
  font-size: 16px;
  color: #F94D1C;
}
.testimonial .container .btn-black {
  align-self: center;
  margin-top: 90px;
  padding: 14px 36px;
}

.article-news {
  padding-top: 120px;
  padding-bottom: 90px;
}
.article-news .container {
  display: flex;
  flex-direction: column;
}
.article-news .container .browse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-news .container .browse h1 {
  margin-top: 18px;
}
.article-news .container .browse .btn-transparent {
  padding: 14px 40px;
}
.article-news .container .articles {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.article-news .container .articles a {
  text-decoration: none;
}
.article-news .container .articles a h2, .article-news .container .articles a p {
  color: #191919;
}
.article-news .container .articles .news .img-date {
  position: relative;
}
.article-news .container .articles .news .img-date .image img {
  width: 420px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-news .container .articles .news .img-date .date-box {
  background-color: #f9d783;
  width: 56px;
  height: 64px;
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  justify-content: center;
}
.article-news .container .articles .news .img-date .date-box .date {
  padding: 6px;
}
.article-news .container .articles .news .img-date .date-box .date h2 {
  margin-bottom: 0;
  padding-left: 3px;
}
.article-news .container .articles .news .img-date .date-box .date p {
  font-size: 18px;
  padding-left: 1px;
}
.article-news .container .articles .news h4 {
  margin-top: 28px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #6A6C71;
}
.article-news .container .articles .news h2 {
  width: 70%;
  margin-bottom: 20px;
}
.article-news .container .articles .news p {
  line-height: 28px;
}
.article-news .container .articles .news:hover h2, .article-news .container .articles .news:hover p {
  color: #505050;
}
.article-news .container .dots {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.article-news .container .dots a {
  color: rgba(25, 25, 25, 0.1254901961);
  margin: 10px;
}
.article-news .container .dots a i {
  font-size: 12px;
}
.article-news .container .dots a:hover {
  color: #191919;
}
.article-news .container .dots .active {
  color: #191919;
}

.signup {
  background-color: #f0efe9;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.signup .background-lines {
  position: absolute;
  bottom: 55px;
  right: 0;
}
.signup .container .column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup .container .subscribe input {
  border-radius: 25px;
  padding: 16px 36px;
  border: none;
  outline: none;
  margin-right: 16px;
}
.signup .container .subscribe .btn-yellow {
  padding: 16px 36px;
}

.breadcrumb {
  background-color: #f0efe9;
  padding-top: 100px;
  padding-bottom: 105px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.breadcrumb img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.breadcrumb nav {
  padding-bottom: 10px;
}
.breadcrumb nav a {
  text-decoration: none;
  color: #191919;
  padding-right: 12px;
}
.breadcrumb h1 {
  font-weight: 700;
  font-size: 56px;
}

.news-articles {
  padding-top: 130px;
  padding-bottom: 85px;
}
.news-articles .container {
  display: none;
  display: flex;
  flex-direction: column;
}
.news-articles .container .articles {
  margin-top: 35px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 60px;
}
.news-articles .container .articles a {
  text-decoration: none;
}
.news-articles .container .articles a h2, .news-articles .container .articles a p {
  color: #191919;
}
.news-articles .container .articles .news .img-date {
  position: relative;
}
.news-articles .container .articles .news .img-date .image img {
  width: 420px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-articles .container .articles .news .img-date .date-box {
  background-color: #f9d783;
  width: 56px;
  height: 64px;
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  justify-content: center;
}
.news-articles .container .articles .news .img-date .date-box .date {
  padding: 12px;
}
.news-articles .container .articles .news .img-date .date-box .date h2 {
  margin-bottom: 0;
  padding-left: 3px;
  line-height: 20px;
}
.news-articles .container .articles .news .img-date .date-box .date p {
  font-size: 18px;
  padding-left: 1px;
}
.news-articles .container .articles .news h4 {
  margin-top: 28px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #6A6C71;
}
.news-articles .container .articles .news h2 {
  width: 85%;
  margin-bottom: 20px;
  line-height: 33px;
}
.news-articles .container .articles .news p {
  line-height: 28px;
  width: 100%;
}
.news-articles .container .articles .news:hover h2, .news-articles .container .articles .news:hover p {
  color: #505050;
}
.news-articles .container .pagination {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.news-articles .container .pagination .btn-page {
  border: 1px solid #EAE9F2;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  padding-top: 2px;
}
.news-articles .container .pagination a {
  text-decoration: none;
  color: #191919;
  text-align: center;
  font-size: 21px;
}
.news-articles .container .pagination a.active, .news-articles .container .pagination a:hover {
  background-color: #191919;
  border-color: #191919;
  color: #ffffff;
}

.signup {
  background-color: #f0efe9;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.signup .background-lines {
  position: absolute;
  bottom: 55px;
  right: 0;
}
.signup .container .column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup .container .subscribe input {
  border-radius: 25px;
  padding: 16px 36px;
  border: none;
  outline: none;
  margin-right: 16px;
}
.signup .container .subscribe .btn-yellow {
  padding: 16px 36px;
}

.breadcrumb {
  background-color: #f0efe9;
  padding-top: 100px;
  padding-bottom: 105px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.breadcrumb img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.breadcrumb nav {
  padding-bottom: 10px;
}
.breadcrumb nav a {
  text-decoration: none;
  color: #191919;
  padding-right: 12px;
}
.breadcrumb h1 {
  font-weight: 700;
  font-size: 56px;
}

.article {
  padding-top: 120px;
  padding-bottom: 65px;
}
.article .container h1 {
  width: 45%;
  margin-bottom: 35px;
}
.article .container .article-info {
  padding-bottom: 75px;
  display: flex;
}
.article .container .article-info h4 {
  font-size: 20px;
  font-weight: 400;
}
.article .container .article-info i {
  padding: 8px 24px;
  font-size: 8px;
  color: #f9d783;
}
.article .container .article-blog {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 142px;
}
.article .container .article-blog .article-left img {
  width: 758px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 45px;
}
.article .container .article-blog .article-left p {
  font-size: 14px;
  line-height: 28px;
  width: 98%;
  margin-bottom: 30px;
}
.article .container .article-blog .article-left .nospace {
  margin-bottom: 0;
}
.article .container .article-blog .article-left .citat {
  position: relative;
}
.article .container .article-blog .article-left .citat i {
  position: absolute;
  font-size: 22px;
}
.article .container .article-blog .article-left .citat h2 {
  font-weight: 500;
  padding-left: 40px;
  font-style: italic;
  margin-bottom: 30px;
  width: 98%;
}
.article .container .article-blog .article-left .tags a {
  text-decoration: none;
  color: #191919;
  font-size: 14px;
}
.article .container .article-blog .article-left .tags .btn-grey {
  background-color: #f3f3f3;
  border-radius: 40px;
  padding: 12px 30px;
}
.article .container .article-blog .article-left .tags .btn-grey:hover {
  background-color: #dedede;
}
.article .container .article-blog .article-right .searchbox {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 40px;
  padding: 12px 36px;
  margin-bottom: 40px;
}
.article .container .article-blog .article-right .searchbox i {
  color: #191919;
}
.article .container .article-blog .article-right .searchbox input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  margin-left: 10px;
}
.article .container .article-blog .article-right .searchbox input::-moz-placeholder {
  color: rgba(25, 25, 25, 0.5647058824);
}
.article .container .article-blog .article-right .searchbox input::placeholder {
  color: rgba(25, 25, 25, 0.5647058824);
}
.article .container .article-blog .article-right .recent-box {
  border: 1px solid rgba(25, 25, 25, 0.1254901961);
  padding: 40px 40px;
  padding-bottom: 25px;
}
.article .container .article-blog .article-right .recent-box .line {
  border-bottom: 2px solid #191919;
  width: 13%;
  margin-top: -8px;
  margin-bottom: 25px;
}
.article .container .article-blog .article-right .recent-box .post {
  border-bottom: 1px solid rgba(25, 25, 25, 0.062745098);
  margin-bottom: 20px;
}
.article .container .article-blog .article-right .recent-box .post h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.article .container .article-blog .article-right .recent-box .post p {
  font-size: 14px;
  color: rgba(25, 25, 25, 0.5843137255);
}
.article .container .article-blog .article-right .recent-box .last {
  border-bottom: none;
  margin-bottom: 0;
}
.article .container .article-blog .article-right .categories-box {
  margin-top: 50px;
  border: 1px solid rgba(25, 25, 25, 0.1254901961);
  padding: 45px 40px;
  padding-bottom: 25px;
}
.article .container .article-blog .article-right .categories-box .line {
  border-bottom: 2px solid #191919;
  width: 13%;
  margin-top: -8px;
  margin-bottom: 25px;
}
.article .container .article-blog .article-right .categories-box .category {
  display: flex;
}
.article .container .article-blog .article-right .categories-box .category h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-right: 4px;
  color: #191919;
}
.article .container .article-blog .article-right .categories-box .category p {
  font-size: 14px;
  color: rgba(25, 25, 25, 0.5843137255);
  padding-top: 3px;
}

.article-news {
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: #f0efe9;
}
.article-news .container {
  display: flex;
  flex-direction: column;
}
.article-news .container .browse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-news .container .browse h1 {
  margin-top: 18px;
}
.article-news .container .browse .btn-transparent {
  background-color: #ffffff;
  padding: 12px 40px;
}
.article-news .container .browse .btn-transparent:hover {
  background-color: transparent;
  color: #191919;
}
.article-news .container .articles {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.article-news .container .articles a {
  text-decoration: none;
}
.article-news .container .articles a h2, .article-news .container .articles a p {
  color: #191919;
}
.article-news .container .articles .news .img-date {
  position: relative;
}
.article-news .container .articles .news .img-date .image img {
  width: 420px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-news .container .articles .news .img-date .date-box {
  background-color: #f9d783;
  width: 56px;
  height: 64px;
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  justify-content: center;
}
.article-news .container .articles .news .img-date .date-box .date {
  padding: 6px;
}
.article-news .container .articles .news .img-date .date-box .date h2 {
  margin-bottom: 0;
  padding-left: 3px;
}
.article-news .container .articles .news .img-date .date-box .date p {
  font-size: 18px;
  padding-left: 1px;
}
.article-news .container .articles .news h4 {
  margin-top: 28px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #6A6C71;
}
.article-news .container .articles .news h2 {
  width: 70%;
  margin-bottom: 20px;
}
.article-news .container .articles .news p {
  line-height: 28px;
}
.article-news .container .articles .news:hover h2, .article-news .container .articles .news:hover p {
  color: #505050;
}
.article-news .container .dots {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.article-news .container .dots a {
  color: rgba(25, 25, 25, 0.1254901961);
  margin: 10px;
}
.article-news .container .dots a i {
  font-size: 12px;
}
.article-news .container .dots a:hover {
  color: #191919;
}
.article-news .container .dots .active {
  color: #191919;
}

.breadcrumb {
  background-color: #f0efe9;
  padding-top: 100px;
  padding-bottom: 105px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.breadcrumb img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.breadcrumb nav {
  padding-bottom: 10px;
}
.breadcrumb nav a {
  text-decoration: none;
  color: #191919;
  padding-right: 12px;
}
.breadcrumb h1 {
  font-weight: 700;
  font-size: 56px;
}

.contact .container .contact-info {
  display: flex;
  justify-content: space-between;
}
.contact .container .contact-info .contact-box {
  border: 1px solid rgba(25, 25, 25, 0.1254901961);
}

footer {
  background-color: #0E1021;
  color: #ffffff;
  padding-top: 110px;
}
footer .top-menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1254901961);
  position: relative;
}
footer .top-menu .background-lines {
  position: absolute;
  bottom: 0;
  right: 0;
}
footer .top-menu .container {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 80px;
  padding-bottom: 90px;
}
footer .top-menu .container img {
  width: 168px;
}
footer .top-menu .container .info p {
  width: 95%;
  margin-top: 30px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.4392156863);
}
footer .top-menu .container .links h2 {
  margin-top: 10px;
  margin-bottom: 46px;
}
footer .top-menu .container .links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4392156863);
  line-height: 40px;
  display: block;
}
footer .top-menu .container .links a:hover {
  color: rgba(255, 255, 255, 0.2666666667);
}
footer .bottom-menu {
  margin: 30px 0px;
}
footer .bottom-menu .container {
  display: flex;
  justify-content: space-between;
}
footer .bottom-menu .container p {
  color: rgba(255, 255, 255, 0.4392156863);
}
footer .bottom-menu .container .social-media a {
  color: #ffffff;
  margin-left: 18px;
  font-size: 16px;
}
footer .bottom-menu .container .social-media a:hover {
  color: rgba(255, 255, 255, 0.4392156863);
}