header {
    background-color: #f0efe9;
    padding: 16px;
    

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;

        .menu-bars {
            border: none;
            font-size: 25px;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none
            }
        }

        .menu {
            display: none;

            @media (min-width: 992px) {
                display: block;
            }
        }
    }





        @media (min-width: 2500px) {
            max-width: 2048px;
        }
}
