@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    h1 {
        font-size: 45px;
        font-weight: 700;
    }

    h2 {
        font-size: 22px;
        font-weight: 700;
    }

    h3 {
        color: #F94D1C;
        font-size: 18px;
        font-weight: 500;
    }
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

//button start//
.btn-yellow {
    background-color: #f9d783;
    border: 1px solid #f9d783;
    border-color: #f9d783;
    border-radius: 40px;
    color: #191919;
    text-decoration: none;
    padding: 14px 24px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border-color: #191919;
        color: #f9d783;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    border-color: #191919;
    border-radius: 40px;
    color: #191919;
    text-decoration: none;
    padding: 14px 24px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border-color: #191919;
        color: #f0efe9;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    border-color: #191919;
    border-radius: 40px;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 24px;
    font-weight: 400;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #f9d783;
        border-color: #f9d783;
        color: #191919;
    }
}
//button end//


header {
    background-color: #f0efe9;
    padding: 16px;
    

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;

        .menu-bars {
            border: none;
            font-size: 25px;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none
            }
        }

        .menu {
            display: none;
            flex: 1;

            @media (min-width: 992px) {
                display: block;
            }
            
            .top-menu {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border-bottom: 1px solid #19191910;
                padding-bottom: 10px;

                @media (min-width: 1400px) {
                    justify-content: space-between;
                }

                .contact-information {
                    display: none;
                    align-items: center;

                    @media (min-width: 1400px) {
                        display: flex;
                    }

                    .contact-box {
                        padding-right: 30px;
                        margin-right: 30px;
                        border-right: 1px solid #19191910;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 25px;
                        font-style: normal;
                        text-align: left;
                        color: #191919;

                        i {
                            margin-right: 8px;
                            font-size: 1.2em;
                        }

                        &.last {
                            border: none;
                        }

                    }
                
                }

                .social-media {
                    a {
                        color: #191919;
                        font-size: 1.3rem;
                        margin-left: 18px;

                        &:hover {
                            color: #444444
                        }
                    }
                }
            }

            .main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 25px;

                nav {
                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;

                        &.active {
                            font-weight: 500
                        }

                        &.active::after,
                        &:hover::after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }


                    }
                }

            }

        }
        
    }


}

.showcase {
    background-color: #f0efe9;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: start;
            }

            h1 {
                font-family: 'Inter', sans-serif;
                font-weight: 700;
                font-size: 40px;

                @media (min-width: 1200px) {
                    font-size: 86px;
                }

                @media (min-width: 768px) {
                    font-size: 70px;
                }
            }

            p {
                font-size: 16px;
                padding-top: 20px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            a {
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;
                padding: 18px 36px;

                @media (min-width: 1200px) {
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }

        img {
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px) {
                display: block;
            }
        }

    }
}

.sponsors {
    margin-top: 72px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    img {
    width: 224px;
    height: 88px;
    }
}

.features {
    border: 1px solid #19191920;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 120px;
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;

    .container {
        display: flex;

        .info
        h1 {
            margin-top: 18px;
            margin-bottom: 60px;
            width: 80%;
        }

        a {
            font-weight: 400;
            width: 50;
        }

        .btn-yellow {
            padding: 19px 176px;
        }

        i {
            font-size: 14px;
        }

        .info-side {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;
            margin-right: 100px;

            .content-box {
                i {
                    font-size: 30px;
                }

                h2 {
                    margin-top: 28px;
                    margin-bottom: 19px;
                }
            }
        }
    }
}

.about-company {
    margin-bottom: 120px;

    .container {
    display: flex;

        .founder {
            margin-right: 200px;

            img {
                width: 533px;
            }
        }

        .about {
            h3 {
                margin-bottom: 18px;
            }

            h1 {
                margin-bottom: 37px;
                width: 80%;
            }

            p {
                line-height: 32px;
                margin-bottom: 35px;
                width: 90%;
            }

            .buttons {
                margin-top: 87px;
                display: flex;
                align-items: center;

                .btn-black {
                    padding: 16px 36px;
                }

                .video-btn-text {
                    text-decoration: none;
                    color: #191919;
                    margin-left: 25px;
                    display: flex;
                    align-items: center;
                    margin-left: 40px;

                    i {
                        font-size: 40px;
                        margin-right: 16px;
                    }

                    span {
                        font-size: 16px;
                        
                    }

                    &:hover {
                        color: #444444;
                    }

                }
            }
        }
    }
}

.our-services {
    background-color: #f0efe9;
    padding-top: 120px;
    padding-bottom: 120px;

    .container {
        h1 {
            margin-top: 18px;
            width: 40%;
        }

        .info-cards {
            margin-top: 48px;
            margin-bottom: 48px;
            display: flex;
            justify-content: space-between;

            .cards {
                background-color: #FFFFFF;
                width: 308px;
                height: 333px;
                padding: 30px;

                p {
                    margin-top: 16px;
                    margin-bottom: 40px;
                    line-height: 28px;
                }

                .btn-arrow {
                    background-color: #191919;
                    color: #ffffff;
                    font-size: 24px;
                    border-radius: 50%;
                    padding: 15px 23px;
                    float: right;

                    &:hover {
                        background-color: #f9d783;
                        color: #191919;
                    }
                }
                
                &:hover {
                    background-color: #f9d783;

                    .btn-arrow {
                        &:hover {
                        background-color: #ffffff;
                        color: #191919;
                        }
                    }
                } 

            }


            }
        }

        .bottom {
            display: flex;
            justify-content: center;

            .btn-transparent {
                padding: 16px 35px;
                
                i {
                    margin-left: 15px;
                    font-size: 16px;
                }
            }
        }


}

.why-choose-us {
    margin-bottom: 120px;
    
    .container {
        display: flex;

        .why {
            margin-top: 60px;

            h1 {
                margin-top: 18px;
                margin-bottom: 40px;
                width: 65%;
            }

            .parent {
                display: flex;
                margin-top: 20px;

                .child {
                    margin-left: 24px;
                    margin-top: 15px;
                }
            }
        }
        

        .picture {
            margin-top: 90px;

            img {
                width: 645px;
            }
        }

    }
}

.project-case {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
    
    .container {
        h3, h1 {
            text-align: center;
        }

        h1 {
            margin-top: 18px;
            margin-bottom: 100px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 50px;
            column-gap: 30px;
            

            .content-box {
                display: flex;
                flex-direction: column;

                img {
                    max-width: 645px;
                    max-height: 311px;
                    object-fit: cover;
                }

                h2 {
                    margin-top: 35px;
                    border-bottom: 2px solid #19191910;
                    padding-bottom: 18px;
                }

                a {
                    text-decoration: none;
                    color: #191919;
                    align-self: flex-end;
                    margin-right: 16px;
                    margin-top: 35px;

                    i {
                        margin-left: 10px;
                        font-size: 14px;
                    }

                    &:hover {
                        color: #444444;
                    }
                }
            }
        }
    }

    .btn-black {
        margin-top: 70px;
        padding: 16px 36px;
        align-self: center;
    }
}

.meet-team {
    background-color: #f9d783;
    padding-top: 120px;
    padding-bottom: 90px;

    .container {

        .browse {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 100px;

            h1 {
                margin-top: 18px;
            }

            .btn-transparent {
                padding: 14px 40px;

                &:hover {
                    color: #f9d783;
                }
            }
        }

        .team {
            display: flex;
            justify-content: space-between;

            .members {
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;
                
                img {
                    width: 308px;
                    height: 420px;
                    object-fit: cover;
                }

                h2 {
                    margin-top: 28px;
                    margin-bottom: 12px;
                }
            }
        }

        .dots {
            display: flex;
            justify-content: center;
            
            a {
                color: #19191920;
                margin: 10px;

                i {
                    font-size: 12px;
                }

                &:hover {
                    color: #191919;
                }
            }

            .active {
                color: #191919;
            }
        }
    }
}

.testimonial {
    background-color: #f9d783;
    padding-bottom: 120px;

    .white-box {
        background-color: #ffffff;
        margin: 0px 200px;
    }

    .container {
        padding-top: 120px;
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;

        h3, h1 {
            text-align: center;
        }

        h1 {
            margin-top: 18px;
        }

        .reviews {
            display: flex;
            justify-content: space-around;
            gap: 110px;
            margin: 0px 30px;
            

            .client {
                margin-top: 90px;

                i {
                    color: #F94D1C;
                    font-size: 14px;
                    margin-bottom: 26px;
                }

                p {
                    line-height: 34px;
                }

                .parent {
                    display: flex;
                    margin-top: 36px;

                    img {
                        width: 70px;
                        height: 70px;
                        object-fit: cover;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                    }
                }

                .child {
                    margin-left: 16px;
                    margin-top: 10px;

                    h4 {
                      font-size: 16px;
                      color: #F94D1C;
                    }
                }
               
            }
        }

        .btn-black {
            align-self: center;
            margin-top: 90px;
            padding: 14px 36px;
        }
    }
}

.article-news {
    padding-top: 120px;
    padding-bottom: 90px;

    .container {
        display: flex;
        flex-direction: column;

        .browse {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                margin-top: 18px;
            }

            .btn-transparent {
                padding: 14px 40px;
            }
        }

        .articles {
            margin-top: 35px;
            display: flex;
            justify-content: space-between;
            column-gap: 30px;

            .news {
                img {
                    width: 420px;
                    height: 230px;
                    object-fit: cover;
                }

                h4 {
                    margin-top: 28px;
                    margin-bottom: 24px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #6A6C71;
                }

                h2 {
                    width: 70%;
                    margin-bottom: 20px;
                }
            }
        }

        .dots {
            display: flex;
            justify-content: center;
            margin-top: 70px;
            
            a {
                color: #19191920;
                margin: 10px;

                i {
                    font-size: 12px;
                }

                &:hover {
                    color: #191919;
                }
            }

            .active {
                color: #191919;
            }
        }
    }
}

.signup {
    background-color: #f0efe9;
    padding-top: 100px;
    padding-bottom: 100px;

    .container {

        .column {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

footer {
    background-color: #0E1021;
    color: #ffffff;
    padding-top: 110px;

    .container {

        .top-menu {
            display: flex;
            column-gap: 90px;
            padding-bottom: 90px;

            .info {
                p {
                    width: 80%;
                    margin-top: 30px;
                    line-height: 26px;
                    color: #ffffff70;
                }
            }

            .links {
                

                h2 {
                    margin-bottom: 46px;
                }

                
                a {
                    text-decoration: none;
                    color: #ffffff70;
                    line-height: 40px;
                }
            }
        }

        .bottom-menu {
            display: flex;
            justify-content: space-between;

            p {
                color: #ffffff70;
            }

            .social-media {

                a {
                    color: #ffffff;
                    margin-left: 18px;
                    font-size: 16px;

                    &:hover {
                        color: #ffffff70
                    }
                }
            }
        }
    }
}