@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
html h1, body h1 {
  font-size: 45px;
  font-weight: 700;
}
html h2, body h2 {
  font-size: 22px;
  font-weight: 700;
}
html h3, body h3 {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 500;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-yellow {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  border-color: #f9d783;
  border-radius: 40px;
  color: #191919;
  text-decoration: none;
  padding: 14px 24px;
  font-weight: 600;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border-color: #191919;
  color: #f9d783;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  border-color: #191919;
  border-radius: 40px;
  color: #191919;
  text-decoration: none;
  padding: 14px 24px;
  font-weight: 600;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border-color: #191919;
  color: #f0efe9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  border-color: #191919;
  border-radius: 40px;
  color: #ffffff;
  text-decoration: none;
  padding: 14px 24px;
  font-weight: 400;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #f9d783;
  border-color: #f9d783;
  color: #191919;
}

header {
  background-color: #f0efe9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgba(25, 25, 25, 0.062745098);
  padding-bottom: 10px;
}
@media (min-width: 1400px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1400px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .contact-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid rgba(25, 25, 25, 0.062745098);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  font-style: normal;
  text-align: left;
  color: #191919;
}
header .container .menu .top-menu .contact-information .contact-box i {
  margin-right: 8px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .contact-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 18px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #444444;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #f0efe9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: start;
  }
}
.showcase .container .content h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
.showcase .container .content p {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
  padding: 18px 36px;
}
@media (min-width: 1200px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.sponsors {
  margin-top: 72px;
}
.sponsors .container {
  display: flex;
  justify-content: space-between;
}
.sponsors img {
  width: 224px;
  height: 88px;
}

.features {
  border: 1px solid rgba(25, 25, 25, 0.1254901961);
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 120px;
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.features .container {
  display: flex;
}
.features .container .info h1 {
  margin-top: 18px;
  margin-bottom: 60px;
  width: 80%;
}
.features .container a {
  font-weight: 400;
  width: 50;
}
.features .container .btn-yellow {
  padding: 19px 176px;
}
.features .container i {
  font-size: 14px;
}
.features .container .info-side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  margin-right: 100px;
}
.features .container .info-side .content-box i {
  font-size: 30px;
}
.features .container .info-side .content-box h2 {
  margin-top: 28px;
  margin-bottom: 19px;
}

.about-company {
  margin-bottom: 120px;
}
.about-company .container {
  display: flex;
}
.about-company .container .founder {
  margin-right: 200px;
}
.about-company .container .founder img {
  width: 533px;
}
.about-company .container .about h3 {
  margin-bottom: 18px;
}
.about-company .container .about h1 {
  margin-bottom: 37px;
  width: 80%;
}
.about-company .container .about p {
  line-height: 32px;
  margin-bottom: 35px;
  width: 90%;
}
.about-company .container .about .buttons {
  margin-top: 87px;
  display: flex;
  align-items: center;
}
.about-company .container .about .buttons .btn-black {
  padding: 16px 36px;
}
.about-company .container .about .buttons .video-btn-text {
  text-decoration: none;
  color: #191919;
  margin-left: 25px;
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.about-company .container .about .buttons .video-btn-text i {
  font-size: 40px;
  margin-right: 16px;
}
.about-company .container .about .buttons .video-btn-text span {
  font-size: 16px;
}
.about-company .container .about .buttons .video-btn-text:hover {
  color: #444444;
}

.our-services {
  background-color: #f0efe9;
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-services .container h1 {
  margin-top: 18px;
  width: 40%;
}
.our-services .container .info-cards {
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}
.our-services .container .info-cards .cards {
  background-color: #FFFFFF;
  width: 308px;
  height: 333px;
  padding: 30px;
}
.our-services .container .info-cards .cards p {
  margin-top: 16px;
  margin-bottom: 40px;
  line-height: 28px;
}
.our-services .container .info-cards .cards .btn-arrow {
  background-color: #191919;
  color: #ffffff;
  font-size: 24px;
  border-radius: 50%;
  padding: 15px 23px;
  float: right;
}
.our-services .container .info-cards .cards .btn-arrow:hover {
  background-color: #f9d783;
  color: #191919;
}
.our-services .container .info-cards .cards:hover {
  background-color: #f9d783;
}
.our-services .container .info-cards .cards:hover .btn-arrow:hover {
  background-color: #ffffff;
  color: #191919;
}
.our-services .bottom {
  display: flex;
  justify-content: center;
}
.our-services .bottom .btn-transparent {
  padding: 16px 35px;
}
.our-services .bottom .btn-transparent i {
  margin-left: 15px;
  font-size: 16px;
}

.why-choose-us {
  margin-bottom: 120px;
}
.why-choose-us .container {
  display: flex;
}
.why-choose-us .container .why {
  margin-top: 60px;
}
.why-choose-us .container .why h1 {
  margin-top: 18px;
  margin-bottom: 40px;
  width: 65%;
}
.why-choose-us .container .why .parent {
  display: flex;
  margin-top: 20px;
}
.why-choose-us .container .why .parent .child {
  margin-left: 24px;
  margin-top: 15px;
}
.why-choose-us .container .picture {
  margin-top: 90px;
}
.why-choose-us .container .picture img {
  width: 645px;
}

.project-case {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}
.project-case .container h3, .project-case .container h1 {
  text-align: center;
}
.project-case .container h1 {
  margin-top: 18px;
  margin-bottom: 100px;
}
.project-case .container .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 50px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.project-case .container .grid .content-box {
  display: flex;
  flex-direction: column;
}
.project-case .container .grid .content-box img {
  max-width: 645px;
  max-height: 311px;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-case .container .grid .content-box h2 {
  margin-top: 35px;
  border-bottom: 2px solid rgba(25, 25, 25, 0.062745098);
  padding-bottom: 18px;
}
.project-case .container .grid .content-box a {
  text-decoration: none;
  color: #191919;
  align-self: flex-end;
  margin-right: 16px;
  margin-top: 35px;
}
.project-case .container .grid .content-box a i {
  margin-left: 10px;
  font-size: 14px;
}
.project-case .container .grid .content-box a:hover {
  color: #444444;
}
.project-case .btn-black {
  margin-top: 70px;
  padding: 16px 36px;
  align-self: center;
}

.meet-team {
  background-color: #f9d783;
  padding-top: 120px;
  padding-bottom: 90px;
}
.meet-team .container .browse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.meet-team .container .browse h1 {
  margin-top: 18px;
}
.meet-team .container .browse .btn-transparent {
  padding: 14px 40px;
}
.meet-team .container .browse .btn-transparent:hover {
  color: #f9d783;
}
.meet-team .container .team {
  display: flex;
  justify-content: space-between;
}
.meet-team .container .team .members {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.meet-team .container .team .members img {
  width: 308px;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}
.meet-team .container .team .members h2 {
  margin-top: 28px;
  margin-bottom: 12px;
}
.meet-team .container .dots {
  display: flex;
  justify-content: center;
}
.meet-team .container .dots a {
  color: rgba(25, 25, 25, 0.1254901961);
  margin: 10px;
}
.meet-team .container .dots a i {
  font-size: 12px;
}
.meet-team .container .dots a:hover {
  color: #191919;
}
.meet-team .container .dots .active {
  color: #191919;
}

.testimonial {
  background-color: #f9d783;
  padding-bottom: 120px;
}
.testimonial .white-box {
  background-color: #ffffff;
  margin: 0px 200px;
}
.testimonial .container {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
}
.testimonial .container h3, .testimonial .container h1 {
  text-align: center;
}
.testimonial .container h1 {
  margin-top: 18px;
}
.testimonial .container .reviews {
  display: flex;
  justify-content: space-around;
  gap: 110px;
  margin: 0px 30px;
}
.testimonial .container .reviews .client {
  margin-top: 90px;
}
.testimonial .container .reviews .client i {
  color: #F94D1C;
  font-size: 14px;
  margin-bottom: 26px;
}
.testimonial .container .reviews .client p {
  line-height: 34px;
}
.testimonial .container .reviews .client .parent {
  display: flex;
  margin-top: 36px;
}
.testimonial .container .reviews .client .parent img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.testimonial .container .reviews .client .child {
  margin-left: 16px;
  margin-top: 10px;
}
.testimonial .container .reviews .client .child h4 {
  font-size: 16px;
  color: #F94D1C;
}
.testimonial .container .btn-black {
  align-self: center;
  margin-top: 90px;
  padding: 14px 36px;
}

.article-news {
  padding-top: 120px;
  padding-bottom: 90px;
}
.article-news .container {
  display: flex;
  flex-direction: column;
}
.article-news .container .browse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-news .container .browse h1 {
  margin-top: 18px;
}
.article-news .container .browse .btn-transparent {
  padding: 14px 40px;
}
.article-news .container .articles {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.article-news .container .articles .news img {
  width: 420px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-news .container .articles .news h4 {
  margin-top: 28px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #6A6C71;
}
.article-news .container .articles .news h2 {
  width: 70%;
  margin-bottom: 20px;
}
.article-news .container .dots {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.article-news .container .dots a {
  color: rgba(25, 25, 25, 0.1254901961);
  margin: 10px;
}
.article-news .container .dots a i {
  font-size: 12px;
}
.article-news .container .dots a:hover {
  color: #191919;
}
.article-news .container .dots .active {
  color: #191919;
}

.signup {
  background-color: #f0efe9;
  padding-top: 100px;
  padding-bottom: 100px;
}
.signup .container .column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #0E1021;
  color: #ffffff;
  padding-top: 110px;
}
footer .container .top-menu {
  display: flex;
  -moz-column-gap: 90px;
       column-gap: 90px;
  padding-bottom: 90px;
}
footer .container .top-menu .info p {
  width: 80%;
  margin-top: 30px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.4392156863);
}
footer .container .top-menu .links h2 {
  margin-bottom: 46px;
}
footer .container .top-menu .links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4392156863);
  line-height: 40px;
}
footer .container .bottom-menu {
  display: flex;
  justify-content: space-between;
}
footer .container .bottom-menu p {
  color: rgba(255, 255, 255, 0.4392156863);
}
footer .container .bottom-menu .social-media a {
  color: #ffffff;
  margin-left: 18px;
  font-size: 16px;
}
footer .container .bottom-menu .social-media a:hover {
  color: rgba(255, 255, 255, 0.4392156863);
}