@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    h1 {
        font-size: 45px;
        font-weight: 700;
    }

    h2 {
        font-size: 22px;
        font-weight: 700;
    }

    h3 {
        color: #F94D1C;
        font-size: 18px;
        font-weight: 500;
    }
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

//button start//
.btn-yellow {
    background-color: #f9d783;
    border: 1px solid #f9d783;
    border-color: #f9d783;
    border-radius: 40px;
    color: #191919;
    text-decoration: none;
    padding: 12px 24px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border-color: #191919;
        color: #f9d783;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    border-color: #191919;
    border-radius: 40px;
    color: #191919;
    text-decoration: none;
    padding: 14px 24px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border-color: #191919;
        color: #f0efe9;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    border-color: #191919;
    border-radius: 40px;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 24px;
    font-weight: 400;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #f9d783;
        border-color: #f9d783;
        color: #191919;
    }
}
//button end//

@import './scss/header';

@import'./scss/home';

@import './scss/news';

@import './scss/25-mar-article';

@import './scss/contact';

@import './scss/footer';